
      .send-button {
        margin-left: 10px;
        background-color: rgb(25, 135, 84);
        color: white;
        border: none;
        padding: 12px 20px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 10px;
        font-size: 15px;
      }
      .text-box {
        padding: 12px, 15px;
        border-radius: 10px;
        border-width: 1px;
        font-size: 15px;
        flex-grow: 1;
        height: 30px;
      }
      .text-box-container {
        display: flex;
        margin-bottom: 60px;
      }
      